$colorSelectSite: #f16d7f; /*#f16d7f*/
$widthSite: 1140px;
$borderStd: 1px solid #000;
$backBlock: #222;
$colorText: #000;
$fontFamileSite: Lato;
$gapGrid: 30px;
$thirdSide: ($widthSite - $gapGrid) / 3;