* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1600px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.center { /*центрирование, нужно для планшета*/
    padding-left: calc(50% - 800px); /*1600/2, 1600px - ширина сетки*/
    padding-right: calc(50% - 800px);
}

.header {
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 19px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}
.header_logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo_link {

}
.header_links {
    display: flex;
    gap: 40px;
}

.link {

}

.fa {
    color: #E8E8E8;
}


.main {
    background-color: #F1E4E6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 63px;
}
.main_img {

}

.main_info {
    max-width: 50%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.info-title {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.sub-of {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.sub-fashion {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 96px;
}

.women {
    width: 360px;
    height: 260px;
    background-image: url(images/Group\ 36.svg);
    text-transform: uppercase;
}

.men {
    width: 360px;
    height: 260px;
    background-image: url(images/Group\ 37.svg);
    text-transform: uppercase;
}

.kids {
    width: 360px;
    height: 260px;
    background-image: url(images/Group\ 38.svg);
    text-transform: uppercase;
}

.acc {
    width: 1140px;
    height: 180px;
    background-image: url(images/Group\ 39.svg);
    text-transform: uppercase;
}

.flex_selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s_text {
    color: #FFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.s_subtitle {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.body {
    max-width: 1140px;
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 48px;
}

.title_header {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title_text {
    color: #9F9F9F;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body_products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 48px;
}

.products_card {
    width: 360px;
    display: flex;
    flex-direction: column;
}

/* .darking {
    background: rgba(0,0,0,0.3);
    z-index: 1;
} */

.product_img {
    height: 420px;
}

/* .product_img :hover {
    background: rgba(0,0,0,0.7);
    z-index: 1;
} */

.bg_color_prod2 {
    background-color: #F7E4E2;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.info_title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.info_disc {
    color: #5D5D5D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.info_price {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body_browse {
    padding: 15px 39px 14px 39px;
    border: 1px solid #ff6a6a;
    margin-bottom: 60px;
}

.browse_link {
    color: #F26376;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

