/*Обнуление*/
* {
    margin: 0;
    padding: 0;
}
/***********/

.top {
    padding-bottom: 99px;
    background-color: #020A18;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 754px;
}

.top_content {
    margin: 160px 387px 197px 388px;
}

.subtitle {
    margin-bottom: 10px;
    color: #3A68B8;
}

.title {
    margin-bottom: 40px;
    color: white;
}

.text {
    color: white;
}

.info_buttoms {
    margin-top: 50px;
}

.button {
    padding: 15px 30px 15px 30px;
}

.top_logo{
    margin-top: 197px;
    margin-left: 388px;
    /* padding-left: 5px; */
}

.top_logo :first-child {
    padding-left: 0px;
}

.top_logo img {
    padding-left: 30px;
}