* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100%; */
}

.center {
    margin: 0 auto;
    padding: 0 calc(50% - 502px);
}

.center__auto {
    margin: 0 auto;
}

.flex__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
}

.wrapper {
    max-width: 100vw;
    /* display: flex;
    flex-direction: column;
    min-height: 100%; */
}


/*классы header*/
.header {
    background-color: rgb(19, 250, 111);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 20px;
}

.header__link {
    text-decoration: none;
    padding: 5px;
}

.header__link:hover {
    color: #f2ac08;
}

/*классы main*/

.main {
    max-width: 95%;
    background-color: #ebebeb;
    
}

.main__box {
    max-width: 33%;
    padding: 0 10px;
}

.main__text {
    text-align: justify;
    
}

/*классы footer*/

.footer {
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    /* flex: 0 0 auto; */
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
}

.fa {
    padding: 5px;
}

.fa:hover {
    color: #f2ac08;
}

/*media*/

@media (max-width: 768px) {
    .center {
        padding: 0 calc(50% - 374px);
    }
}