* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: none;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 37px;
}

.header__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;
}

.brand__text {
  font-family: "Lato", sans-serif;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.header__serch {
  width: 404px;
  height: 38px;
  border: 1px solid #000;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 26px;
}

.my_account {
  padding: 13px 16px 11px 19px;
  color: #fff;
  background-color: #f16d7f;
}

.filter-summary {
  display: flex;
}

.brand__speccolor {
  font-weight: 900;
  color: #f16d7f;
}

.menu {
  padding-bottom: 22px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.menu a {
  text-decoration: none;
}
.menu__link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #222222;
  text-transform: uppercase;
}

.menu-list {
  position: relative;
}

.menu-list:hover .menu-box {
  display: flex;
}

.menu-box {
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: -20px;
  display: none;
}
.menu-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 32px;
  right: auto;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.menu-item {
  margin-right: 45px;
}
.menu-item:last-of-type {
  margin-right: 0;
}

.item-link {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}
.item-link:hover {
  color: #f16d7f;
}

.menu-headding {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 10px;
}

.last:hover .menu-box {
  right: 0;
  left: auto;
}

.last:hover .menu-box::before {
  right: 30px;
  left: auto;
}

.main {
  margin-bottom: 100px;
}
.main__brand {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  padding-left: 230px;
  margin-bottom: 98px;
  height: 665px;
  background-image: url(../images/main_bgphoto.jpg);
}
.main__offers {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 261px);
  grid-gap: 20px;
}

.offer_man {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}

.offer_women {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}

.offer_acc {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
}

.offer_kids {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.z-pos {
  z-index: 1;
}

.lable {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 15px;
  background-color: #fff;
}
.lable__title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.lable__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  color: #f16d7f;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.brand__title {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.brand__title .thebrand {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  color: #222222;
  letter-spacing: 0.025em;
}
.brand__title .luxe {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  color: #222222;
  letter-spacing: 0.025em;
}
.brand__title span {
  color: #f16d7f;
}

.body_title {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 48px;
}

.title_header {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.title_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.items {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 31.6px;
  display: flex;
  padding-bottom: 48px;
}

.products_card {
  width: 261px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.products_card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.darking {
  line-height: 0;
  position: relative;
}

.darking:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
}

.darking:hover .zc_pos {
  display: block;
  z-index: 1;
}

.product_img {
  height: 280px;
  max-width: 100%;
}

.c_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  display: block;
  text-decoration: none;
  padding: 10px 13px;
}

.zc_pos {
  display: none;
  position: absolute;
  top: 123px;
  left: 72px;
  border: 2px solid white;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 24px 16px;
}

.info_title {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  text-transform: uppercase;
}

.info_price {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #f16d7f;
  text-transform: uppercase;
}

.body_browse {
  padding: 15px 39px 14px 39px;
  border: 1px solid #f16d7f;
  margin-bottom: 60px;
  transition-duration: 1s;
}

.browse_link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
  text-decoration: none;
  transition-duration: 1s;
}

.body_browse:hover .browse_link {
  color: #fff;
  transition-duration: 1s;
}

.body_browse:hover {
  background-color: #f16d7f;
  transition-duration: 1s;
}

.dark-box {
  display: flex;
  justify-content: center;
}

.offer {
  line-height: 0;
}

.nav-dark {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: #222222;
}
.nav-dark__box {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}
.nav-dark__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
}
.nav-dark__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  text-align: center;
}

.icon__form:hover {
  transform: scale(1.1, 1.1);
}

.footer {
  padding-top: 48px;
  padding-bottom: 46px;
}
.footer__subscribe {
  background: url(../images/footer_bg.jpg) no-repeat;
  min-height: 448px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  filter: opacity(0.5);
  background-size: cover;
}
.footer__socialnetworks {
  max-width: 100%;
  min-height: 79px;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe__person {
  max-width: 360px;
}

.text__first {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #222222;
  text-align: center;
}

.text__second {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #222222;
}

.subscribe__email {
  display: flex;
  flex-direction: column;
}

.email__title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}

.email__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  color: #222222;
  text-transform: uppercase;
}

.email__field {
  display: flex;
  margin-top: 32px;
}

.email {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border-radius: 24.5px 0 0 24.5px;
  border: none;
  padding-left: 25px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #222222;
  /* opacity: 0.671; */
}

.footer__button {
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  border-radius: 0 24.5px 24.5px 0;
  border: none;
}

.footer__rights {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
}

.footer__social {
  display: flex;
  gap: 7.29px;
}

.footer__link {
  width: 31.451px;
  height: 32px;
  background-color: #fff;
  text-align: center;
  line-height: 32px;
  color: #000;
}

.footer__link:hover {
  background-color: #f16d7f;
}/*# sourceMappingURL=style.css.map */