// homework_sass
@import 'vars';
@import 'mixins';
@import 'zerostyle';

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    
}

.header {
    padding: 25px 0;
    @include flexcommon (space-around, center, nowrap, none)
}

.header__left {
    @include flexcommon (center, center, nowrap, 37px)
}

.header__brand {
    @include flexcommon (center, center, nowrap, 13px)
}

.brand__img {}

.brand__text {
    font-family: $Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $maintextcolor;
}

.header__serch {
    width: 404px;
    height: 38px;
    border: 1px solid #000;
}

.header__right {
    @include flexcommon (center, center, nowrap, 26px)
}

.my_account {
    padding: 13px 16px 11px 19px;
    color: #fff;
    background-color: $brandcolor;
}
 
.brand__speccolor{
    font-weight: 900;
    color: $brandcolor;
}

.menu {
    // padding-top: 19px;
    padding-bottom: 22px;
    list-style-type: none;
    @include flexcommon (center, center, nowrap, 50px);
    a {
        text-decoration: none;
    }
    &__link {
        @include textstyle ($Lato, 14px, normal, 700, 26px, $maintextcolor);
        text-transform: uppercase;
    }
}

.menu-list {
    position: relative;

        // &:hover .menu-box {
        //     display: flex;
        // }
}

.menu-list:hover .menu-box {
    display: flex;
}

.menu-box {
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 35px;
    left: -20px;
    display: none;
    // position: relative;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #fff;
            position: absolute;
            top: -6px;
            left: 32px;
            right: auto;
            transform: rotate(45deg);
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #e8e8e8;
        }
}

.menu-item {
    margin-right: 45px;

        &:last-of-type {
            margin-right: 0;
        }
}

.item-link {
    display: block;
    font-family: $Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;

        &:hover {
            color: $brandcolor;
        }
}

.menu-headding {
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    font-family: $Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    margin-bottom: 10px;
}

.last:hover .menu-box{
    right: 0;
    left: auto;
}

.last:hover .menu-box::before {
    right: 30px;
    left: auto;
}

.main {
    // width: 100%;
    margin-bottom: 100px;
    &__brand {
        @include flexcommon (left, center, nowrap, 0px);
        padding-left: 230px;
        margin-bottom: 98px;
        height: 665px;
        background-image: url(../images/main_bgphoto.jpg);
    }

    &__offers {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 261px);
        grid-gap: 20px;

    }
}

.offer_big {
}

.offer_man {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.offer_women {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.offer_acc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}

.offer_kids {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.z-pos {
    z-index: 1;
}

.lable {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 15px;
    background-color: #fff;

    &__title {
        @include textstyle ($Lato, 18px, normal, 900, 1.2, $maintextcolor);
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    &__subtitle {
        @include textstyle ($Lato, 30px, normal, 900, 1.2, $brandcolor);
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

}


.brand__title {
    border-left: 12px solid $brandcolor;
    padding-left: 12px;

    .thebrand {
        @include textstyle ($Lato, 60px, normal, 900, 1.2, $maintextcolor);
        letter-spacing: 0.025em;
    }

    .luxe {
        @include textstyle ($Lato, 40px, normal, 900, 1.2, $maintextcolor);
        letter-spacing: 0.025em;
    }

    span {
        color: $brandcolor
    }
}

.body_title {
    @include flexcommon (start, center, nowrap, 16px);
    flex-direction: column;
    margin-bottom: 48px;
}

.title_header {
    font-family: $Lato;
    font-size: 30px;
    // line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $maintextcolor;
}

.title_text {
    font-family: $Lato;
    font-size: 14px;
    // line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}


.items {
    max-width: 1140px;
    margin: 0 auto;
    @include flexcommon (center, start, wrap, 31.6px);
    display: flex;
    padding-bottom: 48px;
}

.products_card {
    width: 261px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.products_card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}


.darking {
    line-height: 0;
    position: relative;
}

.darking:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
}

.darking:hover{
    .zc_pos {
        display: block;
        z-index: 1;
    }
}

.product_img {
    height: 280px;
    max-width: 100%;
}

.c_text {
    @include textstyle ($Lato, 14px, normal, 400, normal, #FFF);
    display: block;
    text-decoration: none;
    padding: 10px 13px;
}

.zc_pos {
    display: none;
    position: absolute;
    top: 123px;
    left: 72px;
    border: 2px solid white;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 24px 16px;
    // background-color: #F8F8F8;
}

.info_title {
    @include textstyle ($Lato, 13px, normal, 400, normal, #000);
    text-transform: uppercase;
}

.info_price {
    @include textstyle ($Lato, 16px, normal, 700, 1.2, $brandcolor);
    text-transform: uppercase;
}

.body_browse {
    padding: 15px 39px 14px 39px;
    border: 1px solid $brandcolor;
    margin-bottom: 60px;
    transition-duration: 1s;
}

.browse_link {
    @include textstyle ($Lato, 16px, normal, 400, normal, $brandcolor);
    text-decoration: none;
    transition-duration: 1s;
}

.body_browse:hover .browse_link{
    color: #fff;
    transition-duration: 1s;
}

.body_browse:hover {
    background-color: $brandcolor;
    transition-duration: 1s;
}

.dark-box {
    display: flex;
    justify-content: center;
    // max-width: 1140px;
}

.offer {
    line-height: 0;
}

.nav-dark {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: $maintextcolor;

    &__box {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        justify-content: flex-end;
    }

    &__subtitle {
        @include textstyle ($Lato, 20px, normal, 400, normal, $deliverycolor);
    }

    &__text {
        @include textstyle ($Lato, 14px, normal, 400, normal, $deliverycolor);
        text-align: center;
    }

}



.icon__form:hover {
    transform:scale(1.10,1.10);
}


.footer {
    padding-top: 48px;
    padding-bottom: 46px;

    &__subscribe {
        background: url(../images/footer_bg.jpg) no-repeat;
        min-height: 448px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    &__socialnetworks {
        max-width: 100%;
        min-height: 79px;
        background-color: $maintextcolor;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.subscribe__person {
    max-width: 360px;
}

.text__first {
    @include textstyle ($Lato, 20px, normal, 400, normal, $maintextcolor);
    text-align: center;
}

.text__second {
    @include textstyle ($Lato, 20px, italic, 400, normal, $maintextcolor);
}

.subscribe__email {
    display: flex;
    flex-direction: column;
    
}

.email__title {
    @include textstyle ($Lato, 24px, normal, 700, 167.2%, $maintextcolor);
    text-align: center;
    text-transform: uppercase;
}

.email__subtitle {
    @include textstyle ($Lato, 18px, normal, 400, 167.2%, $maintextcolor);
    text-transform: uppercase;
}

.email__field {
    display: flex;
    margin-top: 32px;
}

.email {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border-radius: 24.5px 0 0 24.5px;
    border: none;
    padding-left: 25px;
    @include textstyle ($Lato, 14px, normal, 400, normal, $maintextcolor);
    /* opacity: 0.671; */
}

.footer__button {
    width: 100px;
    height: 49px;
    background-color: $brandcolor;
    border-radius: 0 24.5px 24.5px 0;
    border: none;
}

.footer__rights {
    @include textstyle ($Lato, 16px, normal, 400, normal, $deliverycolor);
}

.footer__social {
    display: flex;
    gap: 7.29px;
}

.footer__link {
    width: 31.451px;
    height: 32px;
    background-color: #fff;
    text-align: center;
    line-height: 32px;
    color: #000;
}

.footer__link:hover {
    background-color: $brandcolor;
}

.offer {}

.subscribe {}

.footer {}

.footer__about {}

.footer__bottom {}