// homework_sass
@import 'vars';
@import 'mixins';
@import 'zerostyle';

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    
}

.header {
    padding: 25px 0;
    @include flexcommon (space-around, center, nowrap, none)
}

.header__left {
    @include flexcommon (center, center, nowrap, 37px)
}

.header__brand {
    @include flexcommon (center, center, nowrap, 13px)
}

.brand__img {}

.brand__text {
    font-family: $Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $maintextcolor;
}

.header__serch {
    width: 404px;
    height: 38px;
    border: 1px solid #000;
}

.header__right {
    @include flexcommon (center, center, nowrap, 26px)
}

.my_account {
    padding: 13px 16px 11px 19px;
    color: #fff;
    background-color: $brandcolor;
}
 
.brand__speccolor{
    font-weight: 900;
    color: $brandcolor;
}

.nav {
    padding-top: 19px;
    padding-bottom: 22px;
    @include flexcommon (center, center, nowrap, 50px);
    a {
        text-decoration: none;
    }
    &__link {
        font-family: $Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: $maintextcolor;
    }
}

.main {
    // width: 100%;
    margin-bottom: 100px;
    &__brand {
        @include flexcommon (left, center, nowrap, 0px);
        padding-left: 230px;
        margin-bottom: 98px;
        height: 665px;
        background-image: url(../images/main_bgphoto.jpg);
    }

    &__offers {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 261px);
        grid-gap: 20px;

    }
}

.offer_big {
}

.offer_man {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.offer_women {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.offer_acc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}

.offer_kids {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.z-pos {
    z-index: 1;
}

.lable {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 15px;
    background-color: #fff;

    &__title {
        font-family: $Lato;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $maintextcolor;
    }

    &__subtitle {
        font-family: $Lato;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $brandcolor;
    }

}


.brand__title {
    border-left: 12px solid $brandcolor;
    padding-left: 12px;

    .thebrand {
        @include textstyle ($Lato, 60px, normal, 900, 1.2, $maintextcolor);
        letter-spacing: 0.025em;
    }

    .luxe {
        @include textstyle ($Lato, 40px, normal, 900, 1.2, $maintextcolor);
        letter-spacing: 0.025em;
    }

    span {
        color: $brandcolor
    }
}

.body_title {
    @include flexcommon (start, center, nowrap, 16px);
    flex-direction: column;
    margin-bottom: 48px;
}

.title_header {
    font-family: $Lato;
    font-size: 30px;
    // line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $maintextcolor;
}

.title_text {
    font-family: $Lato;
    font-size: 14px;
    // line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}


.items {
    max-width: 1140px;
    margin: 0 auto;
    @include flexcommon (start, start, wrap, 31.6px);
    display: flex;
    padding-bottom: 48px;
}

.products_card {
    width: 261px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.products_card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}


.darking {
    line-height: 0;
    position: relative;
}

.darking:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
}

.darking:hover{
    .zc_pos {
        display: block;
        z-index: 1;
    }
}

.product_img {
    height: 280px;
    max-width: 100%;
}

.c_text {
    @include textstyle ($Lato, 14px, normal, 400, normal, #FFF);
    display: block;
    text-decoration: none;
    padding: 10px 13px;
}

.zc_pos {
    display: none;
    position: absolute;
    top: 123px;
    left: 72px;
    border: 2px solid white;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 24px 16px;
    // background-color: #F8F8F8;
}

.info_title {
    @include textstyle ($Lato, 13px, normal, 400, normal, #000);
    text-transform: uppercase;
}

.info_price {
    @include textstyle ($Lato, 16px, normal, 700, 1.2, $brandcolor);
    text-transform: uppercase;
}

.offer {}

.subscribe {}

.footer {}

.footer__about {}

.footer__bottom {}