//fonts
$LinkFont: 'Lato', sans-serif;
$MainFont: "Montserrat", sans-serif;
$InfoFont: "Inter", sans-serif;

//margin and padding
$MainPaddingTop: 50px;
$MainPaddingLeft: 96px;
$MainPaddingRight: 5px;
$MainPaddingBottom: 50px;

//background-color, colors
$backgroundMain: rgb(241, 241, 241);
$linkColor: rgb(39, 85, 83);
$linkColorHover: rgb(89, 187, 182);
$textColor: rgb(33, 33, 33)