
.main-cart {
    max-width: 1140px;
    padding-top: 96px;
    padding-bottom: 128px;
    margin: 0 auto;
    // display: flex;


}

.carts-box {
    display: flex;
    flex-direction: column;

    &__cart {
        width: 652px;
        display: flex;
        position: relative;
        box-shadow: 7px 7px 5px #d3cfcf;
    }
}

.cart-img {
    max-width: 262px;
    margin-right: 31px;
}

.cart-info {
    max-width: 262px;

    &__title {
        margin-bottom: 42px;
        margin-top: 22px;
        color: #222;
        font-family: $Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__price, &__color, &__size, &__quantity {
        color: #575757;
        font-family: $Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.price-digit {
    color: $brandcolor;
    font-family: $Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.close-cart {
    display: inline;
    position: absolute;
    right: 22px;
    top: 28px;
    border: none;
    background:none;
}