
.main-cart {
    width: 1140px;
    padding-top: 96px;
    padding-bottom: 128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__right {
        display: flex;
        flex-direction: column;
        gap: 57px;
        padding-top: 17px;
    }

}

.carts-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 72px;

    &__cart {
        width: 652px;
        display: flex;
        position: relative;
        box-shadow: 7px 7px 5px #d3cfcf;
    }
}

.cart-img {
    max-width: 262px;
    margin-right: 31px;
}

.cart-info {
    max-width: 262px;

    &__title {
        margin-bottom: 42px;
        margin-top: 22px;
        color: #222;
        font-family: $Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__price, &__color, &__size, &__quantity {
        color: #575757;
        font-family: $Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.price-digit {
    color: $brandcolor;
    font-family: $Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.q-digit {
    display: inline-block;
    width: 44px;
    border: 1px solid #EAEAEA;
    text-align: center;
    margin-left: 24px;
}

.close-cart {
    display: inline;
    position: absolute;
    right: 22px;
    top: 23px;
    border: none;
    background:none;
    padding: 5px;

    &:hover {
        scale: (1.2);
    }

    // &:active .carts-box{
    //     display: none;
    // }
}

.close-cart_img:active .carts-box__cart{
    display: none;
    visibility: hidden;
    background: green;
}

.left-buttons {
    display: flex;
    justify-content: space-between;

    &__button {
        padding: 17px 40px;
        color: #000;
        font-family: $Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        border: 1px solid #a4a4a4;
        background: none;

        &:hover {
            background: $brandcolor;
        }
    }
}

.shipping {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__heading {
        color: #222;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__input {
        width: 360px;
        height: 45px;
        color: #222;
        font-family: $Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-left: 17px;
        border: 1px solid #A4A4A4;

        &:focus {
            color: #B1B1B1;
            font-family: $Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            // border: 1px solid #A4A4A4;
        }
    }
}

.button-submit {
    color: #4A4A4A;
    font-family: $Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 11px 15px;
    align-self: flex-start;
    border: 1px solid #A4A4A4;
}

.cost {
    padding: 40px 44px;
    display: flex;
    flex-direction: column;
    background-color: #F5F3F3;

    &__sub {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        color: #4A4A4A;
        font-family: $Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
    }

    &__grand {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        color: #222;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 21px;
        border-bottom: 1px solid #E2E2E2;
        margin-bottom: 17px;
    }

    &__button {
        color: #FFF;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 15px 42px;
        background-color: $brandcolor;
        border: none;
    }
}

.grand_digit {
    color: $brandcolor;
    font-family: $Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}