
a {
    text-decoration: none;
}

.nav-catalog {
    width: 100%;
    // height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0px;
    }

    &__arrivals {
        @include textstyle ($Lato, 24px, normal, 400, normal, $brandcolor);
        text-transform: uppercase;
    }

    &__bread-crumbs {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: "/";
    }
}


.bread-crumbs__link {
    @include textstyle ($Lato, 14px, normal, 300, normal, #636363);
    text-transform: uppercase;

        &:hover {
            color: $brandcolor;
        }
}

.current-link {
    color: $brandcolor;
    font-weight: 700;
}

.body-catalog__product-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 48px;
        justify-content: center;
    }

@supports (display: grid) {

    .body-catalog__product-cards {
        display: grid;
        grid-template-columns: 360px 360px 360px;
        gap: 30px;
        padding-bottom: 48px;
    }
}


.body-catalog {
    max-width: 1140px;
    display: flex;
    flex-direction: column;

    &__filter {
        padding-top: 51px;
        padding-bottom: 65px;
        display: flex;
        gap: 320px;
        position: relative;
    }

    

    &__pages {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 96px;
    }
}



.filter-summary {
    padding-bottom: 16px;
}

.filter-items {
    position: absolute;
    z-index: 10;
    // width: 360px;
    // padding-left: 17px;
    // padding-right: 15.5px;
    // padding-bottom: 16px;

    &:last-child {
        margin-bottom: 16px;
    }
    
    &[open] {
        box-shadow: 0px 0px 1px #000;
        background-color: #fff;
        padding-left: 17px;
        padding-right: 15.5px;
        width: 360px;
    }

    &[open] .filter-title {
        @include textstyle ($Lato, 14px, normal, 600, normal, $brandcolor);
        }

        &[open] .filter-ico {
            color: $brandcolor;
        }


    &__title{
        @include textstyle ($Lato, 14px, normal, 600, normal, $brandcolor);
        display: block;
        text-transform: uppercase;
        padding-left: 11px;
        padding-top: 11px;
        padding-bottom: 11px;
        border-left: 5px solid $brandcolor;
        border-bottom: 1px solid #EBEBEB;
    }

    &__box {
        margin-top: 24px;
        margin-left: 17px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__positions {
        @include textstyle ($Lato, 14px, normal, 400, normal, #6F6E6E);
    }
}

.category {
    
}


.filter-summary {
    display: flex;
    gap: 11px;
}

.filter-title {
    @include textstyle ($Lato, 14px, normal, 600, normal, #000);
    text-transform: uppercase;
}

.filter-item {
    margin-bottom: 18px;
}

.sort-items {
    display: flex;
    gap: 28px;
    position: relative;
    left: 390px;
    z-index: 10;
    // width: 79px;

    &__details {
        position: relative;
    }
}

.sort-summary {
    display: flex;
    gap: 10px;
}

.sort-title {
    @include textstyle ($Lato, 14px, normal, 400, normal, #6F6E6E);
    text-transform: uppercase;
}

.sort__check {
    @include textstyle ($Lato, 14px, normal, 400, normal, #6F6E6E);
    display: flex;
    gap: 9px;
}

.sort__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 22px;
    width: 79px;
}

.pages__body {
    width: 283px;
    height: 43px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
        content: url('../images/to_left-ico.svg');
        // display: block;
    }

    &::after {
        content: url('../images/to_right-ico.svg');
    }
}

.page__number {
    @include textstyle ($Lato, 16px, normal, 300, normal, #C4C4C4);
}

.page__number_current {
    color: $brandcolor;
}

@media (max-width: 1024px) {

    .body-catalog {
    
       &__product-cards {
            gap: 16px;
            padding-bottom: 40px;
        } 
    
    
        @supports (display: grid) {
            &__product-cards 
            {
                grid-template-columns: 360px 360px;
                gap: 16px;
                padding-bottom: 40px; 
            }
        }
    }

    
}


@media (max-width: 768px) {

    .nav-catalog {
    
        &_phone {
            // width: 100%;
            // justify-content: center;
            flex-direction: column;
            gap: 32px;
            padding-top: 24px;
            padding-bottom: 46px;
        }
    }

    .body-catalog {
    
       &__product-cards {
            gap: 16px;
            padding-bottom: 40px;
        } 
    
    
        @supports (display: grid) {
            &__product-cards 
            {
                grid-template-columns: 360px;
                // gap: 16px;
                // padding-bottom: 40px; 
            }
        }
    }

    .tablet-hidden {
        display: none;
    }

    .filter-title {
        display: none;
    }

    .filter-summary {
        position: absolute;
        left: 15px;
    }

    .sort-items {
        left: 60px;
    }

    .filter-ico {
        scale: (2.5);
    }

    .filter-items[open] {
        z-index: 11;
    }

    .filter-items[open] .filter-ico {
        position: absolute;
        top: -25px;
    }
}