

.prod {

    &_grid {
        display: grid;
        grid-template-columns: 360px 360px 360px;
        gap: 30px;
    }

    &__img {
        display: block;
    }

    &__card {
        width: 360px;
    }

    &__info {
        background-color: #F8F8F8;
        padding: 25px 28px 20px 18px;
        
    }

    &__title {
        color: #000;
        font-family: $Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 13px;
    }

    &__text {
        margin-bottom: 18px;
        color: #5D5D5D;
        font-family: $Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $brandcolor;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}