

.body-product {

    width: 100%;

    &__card {
        background-color: #F7F7F7;
        padding-top: 11px;
        padding-bottom: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        padding: 8px;
        background-color: rgba(42, 42, 42, 0.15);
        border: none;
    }

    &__img {
        
    }

    &__info {
        background-color: #fff;
        transform: translateY(-60px);
        position: relative;
        display: flex;
        justify-content: center;
        padding: 64px 0px;
        width: 1141px;
        margin: 0 auto;
        border: 1px solid #EAEAEA;
    }

    &__info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__sort-items {
        display: flex;
        justify-content: center;
        gap: 23px;
    }

    &__heading {
        @include textstyle ($Lato, 14px, normal, 300, normal, $brandcolor);

        &_m-bottom {
            margin-bottom: 12px;
        }
    }

    &__firstline {
        background-color: $brandcolor;
        width: 63px;
        height: 3.025px;

        &_m-bottom {
            margin-bottom: 12px;
        }
    }

    &__sub-heading {
        @include textstyle ($Lato, 18px, normal, 300, normal, #4D4D4D);

        &_m-bottom {
            margin-bottom: 48px;
        }
    }

    &__text {
        @include textstyle ($Lato, 14px, normal, 300, normal, #5E5E5E);
        width: 555px;
        text-align: center;

        &_m-bottom {
            margin-bottom: 32px;
        }
    }

    &__price {
        @include textstyle ($Lato, 24px, normal, 300, normal, $brandcolor);

        &_m-bottom {
            margin-bottom: 65px;
        }
    }

    &__secondline {
        background-color: #EAEAEA;
        width: 641px;
        height: 1px;

        &_m-bottom {
            margin-bottom: 65px;
        }
    }

    &__sort-items {
    
        &_m-bottom {
            margin-bottom: 48px;
        }   
    }

    &_button {
        @include textstyle ($Lato, 16px, normal, 400, normal, $brandcolor);
        padding: 15px 57px 15px 24px;
        border: 1px solid $brandcolor;
    }

}

@media (max-width: 1024px) {

    .body-product {
        &__info {
            transform: translateY(0);
            width: 100%; 
        }

        &__img {
            width: 466px;
        }
    }
}