
.main-reg {
    width: 1140px;

        &__container {
            padding-top: 64px;
            padding-bottom: 96px;
            display: flex;
            justify-content: space-between;
        }

        &__user-reg {
            width: 360px;
        }

        &__name-heading {
            @include textstyle ($Lato, 16px, normal, 300, normal, $maintextcolor);
        }

        &__input {
            margin-top: 20px;
        }

        &__data {
            height: 45px;
            width: 100%;
        }

        &__radio {
            @include textstyle ($Lato, 11px, normal, 300, normal, #000);
            margin-top: 31px;
        }

        &__sex {
            margin-right: 10px;

            &_mleft {
                margin-left: 20px;
            }
        }

        &__loyalty {
            width: 652px;
        }

        &__ul {
            list-style-type: none;
        }

        &__user-reg {

        }

        &__name {
            margin-bottom: 33px;
        }

        &__details {
            // transition-duration: 1s;
        }

        &__data-text {
            @include textstyle ($Lato, 13px, normal, 300, normal, #B1B1B1);
            margin-top: 15px;
            margin-bottom: 39px;
        }

        &__join {
            @include textstyle ($Lato, 14px, normal, 400, normal, #FFF);
            padding: 15px 20px 15px 30px;
            background-color: $brandcolor;
        }

        &__join-arrow {
            margin-left: 20px;
        }

    &__loyalty {}

    &__heading {
        @include textstyle ($Lato, 24px, normal, 300, normal, #000);
        margin-bottom: 22px;
    }

    &__form {
        
    }

    &__text {
        @include textstyle ($Lato, 24px, normal, 300, normal, #000);
        margin-bottom: 21px;
    }

    &__ul {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    &__li {
        @include textstyle ($Lato, 24px, normal, 300, normal, #000);

            &::before {
                content: url(../images/galochka.svg);
                padding-right: 22px;
            }
    }
}

