
.main-reg {
    max-width: 1140px;

    &__container {
        padding-top: 64px;
        padding-bottom: 96px;
        display: flex;
        justify-content: space-between;
    }

    &__user-reg {

    }

    &__name {}

    &__details {}

    &__join {}

    &__loyalty {}

    &__heading {}

    &__form {
        
    }

    &__text {}

    &__ul {}

    &__li {}
}

