/*market*/
@import 'zerostyle';
@import 'vars';
@import 'mixins';
@import 'catalog-style';
@import 'cart-style';
@import 'product-style';
@import 'registration';

.hover_to_brand-style {
    transition-duration: 1s;
    &:hover {
        transition-duration: 1s;
        background-color: $brandcolor;
        color: #fff !important;
        border: none;
    }
}

.hover_to_white-style {
    transition-duration: 1s;
    &:hover {
        transition-duration: 1s;
        background-color: #fff;
        color: $brandcolor;
        border: 1px solid $brandcolor;
    }
}

.wrapper {
    max-width: 1600px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.center {
    /*центрирование, нужно для планшета*/
    /* padding-left: calc(50% - 800px); 1600/2, 1600px - ширина сетки */
    /* padding-right: calc(50% - 800px); */
    padding: 0 auto;
}

.header {
    background-color: $maintextcolor;
    padding-top: 18px;
    padding-bottom: 19px;
    width: 100%;
    display: flex;
    justify-content: center;

    &_body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1140px
        }

    &_logo {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &_links {
        display: flex;
        gap: 33px;
    }
}

.q-ty {
    position: relative;
}

.orders_qty {
    @include textstyle ($Lato, 12px, normal, 400, normal, #fff);
    display: block;
    width: 19px;
    height: 19px;
    background-color: $brandcolor;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    left: 90%;
    bottom: 70%;
}

.fa_color {
    color: #E8E8E8;
}

.main {
    background-color: #F1E4E6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    width: 100%;

    &_img {
            width: 50%;
        }

    &_info {
        max-width: 50%;
        border-left: 12px solid $brandcolor;
        padding-left: 16px;
    }
}

.info-title {
    @include textstyle ($Lato, 48px, normal, 900, normal, $maintextcolor);
    text-transform: uppercase;
}

.sub-of {
    @include textstyle ($Lato, 32px, normal, 700, normal, $maintextcolor);
    text-transform: uppercase;
}

.sub-fashion {
    @include textstyle ($Lato, 32px, normal, 700, normal, $brandcolor);
    text-transform: uppercase;
}

.body {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 95px;

    &_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        margin-bottom: 48px;
    }

    &_products {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding-bottom: 48px;
    }

    &_browse {
        padding: 15px 39px 14px 39px;
        border: 1px solid $brandcolor;
        margin-bottom: 60px;
        transition-duration: 1s;
    }

    &_browse:hover .browse_link {
        color: #fff;
        transition-duration: 1s;
    }

    &_browse:hover {
        background-color: $brandcolor;
        transition-duration: 1s;
    }
}


@supports (display: grid) {

    .body_products {
        display: grid;
        grid-template-columns: 360px 360px 360px;
        gap: 30px;
        padding-bottom: 48px;
    }
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 96px;
}

.pic__set {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
}

.pic_position {
    position: relative;
}

.img {
    max-width: 100%;
}

.z_pos {
    position: absolute;
    top: center;
    left: center;
    text-align: center;
}


.flex_selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_text {
    @include textstyle ($Lato, 16px, normal, 400, normal, #fff);
    text-align: center;
    text-transform: uppercase;
}

.s_subtitle {
    @include textstyle ($Lato, 24px, normal, 700, normal, $brandcolor);
    text-transform: uppercase;
}


.title_header {
    @include textstyle ($Lato, 30px, normal, 400, normal, $maintextcolor);
}

.title_text {
    @include textstyle ($Lato, 14px, normal, 400, normal, #9F9F9F);
}

.product-card__link {
    display: flex;
}

.products_card {
    width: 360px;
    // display: flex;
    // flex-direction: column;
    position: relative;
    transition-duration: 0.3s;

    &:hover {
        box-shadow: 1px 1px 3px $footertextcolor;
    }


}

.darking {
    line-height: 0;
    position: relative;
}

.darking:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
}

.darking:hover .zc_pos {
    display: block;
    z-index: 1;
}

.product_img {
    height: 420px;
    max-width: 100%;
}

.c_text {
    @include textstyle ($Lato, 14px, normal, 400, normal, #fff);
    display: block;
    text-decoration: none;
    padding: 10px 13px;
}

.zc_pos {
    display: none;
    position: absolute;
    top: 47%;
    left: 35%;
    border: 2px solid white;
}

.card_info {
    padding: 24px 16px;
    background-color: #F8F8F8;

}

.info_title {
    @include textstyle ($Lato, 13px, normal, 400, normal, #000);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.info_disc {
    @include textstyle ($Lato, 14px, normal, 300, normal, #5D5D5D);
    margin-bottom: 16px;
}

.info_price {
    @include textstyle ($Lato, 16px, normal, 400, normal, $brandcolor);
}


.browse_link {
    @include textstyle ($Lato, 16px, normal, 400, normal, $brandcolor);
    text-decoration: none;
    transition-duration: 1s;
}


.footer {
    width: 100%;
    position: relative;

    &__navigation {
            background-color: #222224;
            padding: 104px 230px;
        }

    &__subscribe {
        background: url(../images/photo_subscribe.svg) no-repeat;
        min-height: 448px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

    }

        &__button {
            width: 100px;
            height: 49px;
            background-color: $brandcolor;
            border-radius: 0 24.5px 24.5px 0;
            border: none;
        }
    
        &__socialnetworks {
            max-width: 100%;
            min-height: 79px;
            background-color: #222224;
            display: flex;
            justify-content: space-between;
            padding-left: 32px;
            padding-right: 32px;
            align-items: center;
        }
    
        &__rights {
            @include textstyle ($Lato, 16px, normal, 400, normal, #FBFBFB);
        }
    
        &__social {
            display: flex;
            gap: 7.29px;
        }
    
        &__link {
            width: 31.451px;
            height: 32px;
            background-color: #fff;
            text-align: center;
            line-height: 32px;
            color: #000;
        }
    
        &__link:hover {
            background-color: $brandcolor;
        }
}


.nav__body {
    display: flex;
    gap: 30px;
}

.nav__box {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
}

.icon__form:hover {
    transform: scale(1.10, 1.10);
}

.nav__subtitle {
    @include textstyle ($Lato, 20px, normal, 400, normal, #FBFBFB);
}

.nav__text {
    @include textstyle ($Lato, 14px, normal, 300, normal, #FBFBFB);
    text-align: center;
}

.subscribe__person {
    max-width: 360px;
}

.text__first {
    @include textstyle ($Lato, 20px, normal, 400, normal, $maintextcolor);
    text-align: center;
}

.text__second {
    @include textstyle ($Lato, 20px, italic, 400, normal, $maintextcolor);
}

.subscribe__email {
    display: flex;
    flex-direction: column;

}

.email__title {
    @include textstyle ($Lato, 24px, normal, 700, 167.2%, $maintextcolor);
    text-align: center;
    text-transform: uppercase;
}

.email__subtitle {
    @include textstyle ($Lato, 18px, normal, 400, 167.2%, $maintextcolor);
    text-transform: uppercase;
}

.email__field {
    display: flex;
    margin-top: 32px;
}

.email {
    @include textstyle ($Lato, 14px, normal, 400, normal, $maintextcolor);
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border-radius: 24.5px 0 0 24.5px;
    border: none;
    padding-left: 25px;
}


@media (max-width: 1024px) {
    .wrapper {
        max-width: 100%;

    }

    .header_body {
        margin-left: 32px;
        margin-right: 32px;
    }


    .info-title {
        font-size: 44px;
    }

    .sub-of {
        font-size: 24px;
    }

    .sub-fashion {
        font-size: 24px;
    }

    .main {
        gap: 39px;
    }

    .body {
        padding-left: 16px;
        padding-right: 16px;
    }

    .pic__set {
        gap: 20px;
    }

    .selection {
        gap: 20px;
        margin-bottom: 110px;
    }

    .body_title {
        gap: 3px;
        margin-bottom: 75px;
    }

    .body_products {
        gap: 16px;
        padding-bottom: 32px;
    }

    @supports (display: grid) {

        .body_products {
            width: 100%;
            display: grid;
            grid-template-columns: 360px 360px;
            gap: 16px;
            padding-bottom: 32px;
        }
    }

    .body_browse {
        margin-bottom: 70px;
    }

    .nav__body {
        flex-direction: column;
        gap: 48px;
    }

    .footer__subscribe {
        flex-direction: column;
    }

    .footer__navigation {
        display: flex;
        justify-content: center;
        padding-top: 48px;
        padding-bottom: 64px;
    }
}

@media (max-width: 767px) {


    .header_body {
        margin-left: 16px;
        margin-right: 16px;
    }

    .body {
        max-width: 100%;
    }

    .main_info {
        max-width: 100%;
        margin: 158px auto;
    }

    .main_img {
        display: none;
    }


    .info-title {
        font-size: 38px;
    }

    .sub-of {
        font-size: 20px;
    }

    .sub-fashion {
        font-size: 20px;
    }

    .header_links a:nth-child(2) {
        display: none;
    }

    .header_links a:nth-child(3) {
        display: none;
    }

    .pic__set {
        flex-wrap: wrap;
        gap: 32px;
    }

    .body_title {
        margin-bottom: 65px;
    }

    .body_products {
        padding-bottom: 40px;
        max-width: 100%;
    }

    @supports (display: grid) {

        .body_products {
            width: 100%;
            display: grid;
            grid-template-columns: 360px;
            gap: 30px;
            padding-bottom: 40px;
        }
    }

    .title_text {
        text-align: center;
    }

    .products_card {
        max-width: 100%;
    }

    .selection {
        overflow: hidden;
    }

    .acc__img {
        height: 116px;
        max-width: none;
    }

    .footer__navigation {
        padding: 48px 0 81px 0;
    }

    .subscribe__person {
        text-align: center;
    }

    .footer__socialnetworks {
        flex-direction: column;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .footer__subscribe {
        background: url(images/photo\ subscribe.svg) bottom no-repeat;
        background-color: rgba(244, 244, 244, 1);
        gap: 59px;
        padding-top: 64px;
        padding-bottom: 110px;
    }
}