* {
    margin: 0;
    padding: 0;
    block-size: border-box; /*width - будет общей шириной*/
}

body {
    background-color: #020A18;
}

.menu-link {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px; /*padding делают область вокруг ссылки кликабельной*/
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1147px;
}

.menu-link:hover {
    color: #3a68b8;
}

.header {
    margin-bottom: 160px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3a68b8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /*28.8px*/
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #fff);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /*71.5px*/
    margin-bottom: 40px;
}

.dsc {
    color: var(--ffffff, #fff);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /*28.8px*/
    opacity: 0.7;
    margin-bottom: 40px;
}

.main-link {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3a68b8);
    padding: 1rem 2rem;
    color: var(--ffffff, #fff);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 50px;
    margin-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-left, .main-right {
    width: 47%;
}

.main {
    margin-bottom: 200px;
}

.main-right {
    display: flex;
    justify-content: end;
}